textarea {
  white-space: pre;
}

textarea.step-result-view {
  height: 30px;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border-bottom: 1px solid lightblue;
}

.spreadsheet-wrapper  {
  max-height: 200px;
  overflow: scroll;
}
